// Header
.logo {
    position: relative;
    top: 2.37em;
    left: 7.18em; 
}

.coffe-image {
    height: 12.43em;
    position: relative;
    bottom: 4.87em;
    left: 48.31em;
    width: 19.37em;
}

// Content
.service img, h3, p{
    margin-bottom: 0.75em;
}

// Main content
.coffe-cup{
    display: inline-block;
    width: 40.62em;
    height: 25.62em;
}

.gallery-icon{
    margin-top: 0.75em;
}

.images{
    margin-top: 2.5em;
}

.im-ga{
    width: 23.43em;
    height: 17.06em;
}