// Header
.logo {
    position: relative;
    top: 2.37em;
    left: 8.98%; 
}

.coffe-image {
    height: 12.43em;
    position: relative;
    bottom: 4.87em;
    left: 60.39%;
    width: 24.21%;
}

// Content
.service img, h3, p{
    margin-bottom: 0.75em;
}

// Main content
.coffe-cup{
    display: inline-block;
    width: 50.78%;
    height: 25.62em;
}

.gallery-icon{
    margin-top: 0.75em;
}

.images{
    margin-top: 2.5em;
}

.im-ga{
    width: 27.89%;
    height: 17.06em;
}