ul{
    display: flex;
    float: right;
    margin-right: 8.75%;
}

.header li{
    display: inline;
}

a{
    color: $primary-color;
    font: $achor-font;
    text-decoration: none;
}

.house{
    height: 0.75em;
}

.leftarrow {
   position: relative;
   left: 8.04%;
   top: 3.06em;
}

.rightarrow {
    position: relative;
    bottom: 11.62em;
    left: 66.48%;   
}

.eclipse {
    position: relative;
    left: 25.25%;
    bottom: 1.93em;
}

.arrow {
    position: relative;
    left: 49.76%;
    top: 1.56em;
}