.logo {
	position: relative;
	top: 38px;
	left: 115px; 
}

.house{
	height: 12px;
}

.leftarrow {
   position: relative;
   left: 103px;
   top: 49px;
}

.coffe-image {
    height: 199px;
    position: relative;
    bottom: 78px;
    left: 773px;
    width: 310px;
}

.rightarrow {
    position: relative;
    bottom: 154px;
    left: 851px;
    
}

.eclipse {
    position: relative;
    left: 322px;
    bottom: 31px;
}

.service img, h3, p{
    margin-bottom: 12px;
}

.coffe-cup{
	display: inline-block;
}


.gallery-icon{
	margin-top: 12px;
}

.images{
	margin-top: 40px;
}

.arrow {
    position: relative;
    left: 637px;
    top: 25px;
}